<!-- <div id="map"></div> -->
<iframe width="70%" height="520" frameborder="0" src="https://bvoglewede.cartodb.com/viz/cf0c70b2-3a34-11e6-91c4-0e5db1731f59/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
