<!-- <div id="map"></div> -->
<div class="container">
  <div class="header clearfix">
    <h3 class="centered text-muted">SFFoodTrucks</h3>
  </div>

  <div class="jumbotron">
    <div class="embed-responsive embed-responsive-4by3">
       <iframe class='embed-responsive-item' frameborder="0" src="https://bvoglewede.cartodb.com/viz/cf0c70b2-3a34-11e6-91c4-0e5db1731f59/embed_map?zoom=12&center_lat=37.774929&center_lon=-122.419416" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </div>
    <br>
    <p class="lead">SFFoodTrucks is your connection to San Francisco's vibrant mobile food scene. Looking for a bite in your area? Simply enter your address in the bar above and see what's cookin!</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>

  <footer class="footer">
    <p>&copy; 2016 SFFoodTrucks, Inc.</p>
  </footer>
</div>
